# Data Science Tools and Ecosystem

## Author
S.W.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List common libraries
+ List data science tools
+ Write Python athmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. matlib
2. dyplr
3. ggplot

|Data Science Tools|
|------------------|
|Anaconda|
|VS Code|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200*60

12000